html, 
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
}

/* BACKGROUND FOR EACH SECTION */
#section-1 {
  background:url("./assets/images/main6.jpg") center top no-repeat; 
  background-position: fixed;
  background-size: 100% 100%;
  opacity: 0.9;
}

#section-2 {
  background:url("./assets/images/main.jpg") center top no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
  opacity: 0.9;
}

#section-3 {
  background:url("./assets/images/intro2.jpg") center top no-repeat; 
  background-position: fixed;
  background-size: 100% 100%;
  opacity: 0.9;
}

#section-4 {
  background:url("./assets/images/interests.jpg") center top no-repeat; 
  background-position: fixed;
  background-size: 100% 100%;
  opacity: 0.9;
}

/* NAVIGATION */
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color:#f64f59
}

.icon-interest {
  width: 35px;
  margin: 5px;
}

@media only screen and (max-width: 600px)
{
  .icon-interest {
    width: 25px;
    margin: 5px;
  }

}