html, 
body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
}

a:hover {
  text-decoration: none;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

#section-2 {
  background:url("./assets/images//forrest.jpg") center top no-repeat; 
  background-position: fixed;
  background-size: 100% 100%;
}